@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: url('@/assets/background.png') no-repeat center center fixed;
  background-size: 100% 100%;
  font-family: Arial, sans-serif;
}

.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgb(28, 63, 148);
  transition: all 0.2s ease;
}
div#chat.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
div#chat.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
div#chat.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  bottom: 90px;
  width: 70%;
  right: 15%;
  left: 15%;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
div#chat.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {   
  display: flex;
  align-items: center; /* Ensures vertical alignment is centered */
  justify-content: start; /* Aligns items to the start of the header */
  padding: 15px 15px;
  position: relative;
  text-align: center;
  color: #fff;
  background: rgb(28, 63, 148);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  flex-grow: 1; /* Allows the title to take up any extra space */
  text-align: center;
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 725px;
  padding: 30px 30px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: rgb(28, 63, 148);
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: rgb(28, 63, 148);
  word-wrap: break-word;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: rgb(28, 63, 148);
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

.reset-btn {
  font-size: 1.1em;
  background: #fff;
  color: rgb(28, 63, 148);
  border: 1px solid rgb(28, 63, 148);
  padding: 5px 10px;
  margin-left: 10px; /* Provide some spacing from the left edge */
  border-radius: 5px;
  cursor: pointer;
  font-family: "Arial", sans-serif; /* Using the same font for consistency */
}

.reset-btn i {
  font-size: 1.2em; /* Slightly larger font size for the icon */
  margin-right: 5px; /* Space between the icon and the text */
}

/* Transition for the chat messages */
.chat-enter-active, .chat-leave-active {
  transition: all 0.5s ease;
}
.chat-enter, .chat-leave-to /* .chat-leave-active in <2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  flex-direction: column;
  font-family: "Arial" , sans-serif;
}

.centered-text p {
  margin: 10px 0;
  font-size: 20px;
  color: #333;
}


.chat-input span.disabled {
  pointer-events: none;
  opacity: 0.5;
}






.recommended-question {
  background-color: #e9ecef;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  text-align: center;
}

.recommended-question:hover {
  background-color: #dee2e6;
}

.recommendation-title {
  margin-top: 20px; /* Space between the last assistant message and the "Preporučena pitanja" title */
  text-align: center;
}

.recommendation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Additional space between the title and questions */
  margin-bottom: 20px; /* Space between the questions and the next message */
}









/* Adjust width for medium screens */
@media (min-width: 601px) and (max-width: 1400px) {
  .chatbot {
    width: 75%;
    right: 12.5%;
    left: 12.5%;
  }
  .chatbot .chatbox {
    height: 600px;
    padding: 15px 15px 100px;
  }

}

/* Mobile devices */
@media (max-width: 600px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}






